<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>474909233927-7d0h4519kq6t85ktk6rvprmrlhub68cq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474909233927-7d0h4519kq6t85ktk6rvprmrlhub68cq</string>
	<key>API_KEY</key>
	<string>AIzaSyAMnZe6qpI8mM44_1vcPs1Kw-JUoFSlaPY</string>
	<key>GCM_SENDER_ID</key>
	<string>474909233927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kendalleasterly.ChiMessage</string>
	<key>PROJECT_ID</key>
	<string>chimessage-7784f</string>
	<key>STORAGE_BUCKET</key>
	<string>chimessage-7784f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474909233927:ios:a3922c957ba39d3ad02ba2</string>
	<key>DATABASE_URL</key>
	<string>https://chimessage-7784f.firebaseio.com</string>
</dict>
</plist>